.hero {

    background-image: url("https://images.unsplash.com/photo-1573057616232-1fce784d337d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1567&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    height: 1550px;
    text-align: center;
    font-family: 'Edo', arial;
    justify-content: center;
    align-items: center;
    color:#5ce1e6;

}

#heroText{
    font-size: 100px;

}


.searchContainer{
    margin-top: 100px;
    font-size: 25px;
    
}

.h2, h2{
    font-size: 3rem;
}

#logo{
align-items: center;   
 mix-blend-mode: multiply;
    height: auto;
    width: 500px;
    overflow:hidden;
}

#inputText{
    color:#5ce1e6;
}
